<!DOCTYPE html>
<html lang="en">

<!-- Basic site information: encoding, stylesheet, and icon  -->
<head>
	<meta charset = "utf-8">

	<title>CitesCyverse</title>

	<meta name="viewport" content="width=device-width,
	initial-scale=1">

	<link href= "{{ url_for('static',
	filename='js/third-party/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">

	<!-- url image icon goes here -->
	<link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='cyverse.ico') }}"></link>

    <script src="{{ url_for('static', filename='js/third-party/jquery/dist/jquery.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/third-party/bootstrap/dist/js/bootstrap.min.js') }}">
	</script>

</head>


<header>


    <div class="navbar-header">
        <a class="navbar-brand" href="https://geco.iplantcollaborative.org/hclent/citescyverse/home/">
            <img style="max-width:200px; margin-top: 2px"
                 src="{{url_for('static', filename='cites_cyverse_logo.png') }}">
        </a>
    </div>


<!--HOME BUTTON-->
<div class="container-fluid">
		<!-- 'Home' button that goes to main URL-->
		<a href="https://geco.iplantcollaborative.org/hclent/citescyverse/home/">
			<button type="button" class="btn btn-primary" aria-label="Left Align" style="margin-top: 25px; margin-bottom: 15px; height: 45px; margin-right: 15px">
			<span class="glyphicon glyphicon-header" aria-hidden="true"></span>ome
		</button>
	</a>
</div>

    <div>
    <!-- nav bar right location -->
	 <ul class="nav navbar-nav navbar-right">
			<!-- modals -->
			<!-- small modal with button -->

		<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">About CitesCyVerse...   </button>

		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		  <div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
			   <div class="modal-header">
				  <h4>Cites CyVerse</h4>
				  </div>
				    <div class="modal-body">
				           This "CitesCyVerse" site was built and based off of work done by SCKE: The Science Citation Knowledge Extractor.
                        It is an open source tool that helps biomedical researchers understand how
                       their work is being used by others, by analyzing the content
                       in papers that cite them. This tool uses natural language processing
                       and machine learning to extract the prominent
                       themes and concepts discussed in the citing documents.
                       By seeing what kinds of topics are discussed by citing articles, researchers can
						better understand how their work influences their peers and various disciplines in science.

                        CitesCyVerse only has certain features of SCKE, so we recommend that you also checkout SCKE!

                        (SCKE is still under active development and has not been officially released yet. Your feedback is very welcome!)


				    </div>

				<div class="modal-footer">
					<span class="form-control-static pull-left">
						<a href="https://geco.iplantcollaborative.org/hclent/bionlp/results/?pmid=26752627%2C+23749752%2C+22645531%2C+27803802">Click here to see SCKE in action with papers citing CyVerse/iPlant</a>
					    (This takes a moment to load!);
                        <a href="https://github.com/hclent/citesCyverse" >All code available on Githup</a>
                    </span>
				</div>
			</div>
		  </div>
		</div>

	 </ul>
    </div>

</header>


<!-- Tabs -->
<div>

  <!-- Define Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation"><a href="#journals" aria-controls="journals" role="tab" data-toggle="tab">Journals</a></li>
    <li role="presentation"><a  href="#ner" aria-controls="ner" role="tab" data-toggle="tab">WordClouds</a></li>
    <li role="presentation"><a href="#topics" aria-controls="topics" role="tab" data-toggle="tab">Topics</a></li>
    <li role="presentation"><a href="#scifi" aria-controls="scifi" role="tab" data-toggle="tab">TextCompare</a></li>
  </ul>


  <!-- Tab panes -->
	<ul class="tab-content">


		<!--  Put journals here -->
		<div role="tabpanel" class="tab-pane fade in active" id="journals">
           <iframe  id="journals"  src="https://geco.iplantcollaborative.org/hclent/citescyverse/cy-journals-freq/" width="1550" height="7100" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>


		<!--  Put Wordcloud here -->
		<div role="tabpanel" class="tab-pane fade" id="ner">
           <iframe  id="wordcloud" src="https://geco.iplantcollaborative.org/hclent/citescyverse/cy-wordcloud/" width="1500" height="1700" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>



		<!-- Data analysis/visualization-->
		<div role="tabpanel" class="tab-pane fade" id="topics">
            <iframe  id="embedding" src="https://geco.iplantcollaborative.org/hclent/citescyverse/cy-embeddings/" width="1400" height="1600" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
        </div>



        <!--  Scifi -->
		<div role="tabpanel" class="tab-pane fade" id="scifi">
            <iframe  id="textcompare"  src="https://geco.iplantcollaborative.org/hclent/citescyverse/cy-textcompare/" width="1100" height="800" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>



    </ul> <!--responds to tab ul -->

</div>


<script>
    function toggle(vis1, vis2) {
      //console.log('Button clicked!');
      var visspace1 = document.getElementById(vis1);
      var visspace2 = document.getElementById(vis2);
      visspace1.style.display = visspace1.style.display == 'none' ? '' : 'none'; //if none, display, if not none -> none
      visspace2.style.display = visspace2.style.display == '' ? 'none' : 'none'; //dont display other one!
    }
</script>

</html>