<!DOCTYPE html>
<html lang="en">

<!-- Basic site information: encoding, stylesheet, and icon  -->
<head>
	<meta charset = "utf-8">

	<title>CitesCyverse</title>

	<meta name="viewport" content="width=device-width,
	initial-scale=1">

	<link href= "{{ url_for('static',
	filename='js/third-party/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">

	<!-- url image icon goes here -->
	<link rel="shortcut icon" href="{{url_for('static', filename='cyverse.ico') }}">

    <script src="{{ url_for('static', filename='js/third-party/jquery/dist/jquery.min.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='js/third-party/bootstrap/dist/js/bootstrap.min.js') }}">
	</script>

</head>

<header>
<!-- LOGO OR  -->
	<!--<div class="navbar-header">-->
    	<!--<a class="navbar-brand" href="/home/">-->
    	<!--<img  style="max-width:100px; margin-top: -7px"-->
    	<!--src="{{url_for('static', filename='images/scke1.png') }}">-->
		<!--</a>-->
	<!--</div>-->


<!--HOME BUTTON-->
<div class="container-fluid">
		<!-- 'Home' button that goes to main URL-->
		<a href="/home/">
			<button type="button" class="btn btn-primary" aria-label="Left Align" style="margine-top: 5px; margin-bottom: 5px; height: 45px; margin-right: 15px">
			<span class="glyphicon glyphicon-header" aria-hidden="true"></span>ome
		</button>
	</a>
</div>

</header>


<!-- Tabs -->
<div>

  <!-- Define Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a  aria-controls="journals" role="tab" data-toggle="tab">Journals</a></li>
    <li role="presentation"><a  aria-controls="ner" role="tab" data-toggle="tab">Keywords</a></li>
    <li role="presentation"><a aria-controls="topics" role="tab" data-toggle="tab">Topics</a></li>
    <li role="presentation"><a aria-controls="scifi" role="tab" data-toggle="tab">TextCompare</a></li>
  </ul>


  <!-- Tab panes -->
	<ul class="tab-content">


		<!--  Put journals here -->
		<div role="tabpanel" class="tab-pane fade" id="journals">
           <iframe  id="journals"  src="/cy-journals/" width="1100" height="1350" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>


		<!--  Put NERs here -->
		<div role="tabpanel" class="tab-pane fade" id="ner">
           <iframe  id="wordcloud" style="display:none" src="/cy-wordcloud/" width="1100" height="1000" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>



		<!-- Data analysis/visualization-->
		<div role="tabpanel" class="tab-pane fade" id="topics">
            <iframe  id="embedding" style="display:none" src="/cy-embeddings/" width="1000" height="1600" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
        </div>



        <!--  Scifi -->
		<div role="tabpanel" class="tab-pane fade" id="scifi">
            <iframe  id="textcompare"  src="/cy-textcompare/" width="1100" height="800" marginwidth="0" marginheight="0" scrolling="no" frameBorder="0"></iframe>
		</div>



    </ul> <!--responds to tab ul -->

</div>


<script>
    function toggle(vis1, vis2) {
      //console.log('Button clicked!');
      var visspace1 = document.getElementById(vis1);
      var visspace2 = document.getElementById(vis2);
      visspace1.style.display = visspace1.style.display == 'none' ? '' : 'none'; //if none, display, if not none -> none
      visspace2.style.display = visspace2.style.display == '' ? 'none' : 'none'; //dont display other one!
    }
</script>

</html>